body{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#idd-00{
    width: 70%;
    height: 500px;
    margin: auto;
}
.div-11{
    display: flex;
    height: 150px;
    background-color:steelblue;
    color: white;
}
.div-11 img{
    width: 12%;
    height: 120px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 14px;
    
}


.div-10{
    text-align: center;
    margin-left: 15%;
}
.div-09{
    display: flex;
    flex-direction: row;
}
.div-009{
    background-color: skyblue;
    border-top: 4px solid rgb(28, 245, 28);;
    
}
.div-009 li{
    list-style-type: none;
    margin-left: 20%;
}
.div-009 p{
    font-weight: bold;
}

.div-08{
    width: 72%;
    background-color: whitesmoke;
}
.div-08 p:nth-child(3){
    font-style: italic;
    font-weight: bold;
}
.div-08 p:nth-child(6){
    font-style: italic;
    font-weight: bold;

}
.div-08 p:nth-child(9){
    font-style: italic;
    font-weight: bold;

}
.div-08 h2{
    border-bottom: 3px solid rgb(28, 245, 28);
    width: 65%;
    margin-left: 15px;
}
.div-08 h1{
    text-align: center;
}


